<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>{{user.first_name}} {{user.last_name}}'s Details</h1>
    <ul>
        <li>ID: {{user.id}}</li>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <li><img src="{{user.image_url}}" height="50"></a></li>
    </ul> 
    <button><a class="btn btn-sm btn-secondary" href="users/{{ user.id }}/edit_user">Edit User</a></button>  
    <button><a class="btn btn-sm btn-secondary" href="">Delete User</a></button>  
    <a href="/">Go Back</a>
</body>
</html>